# Bail or No Bail

## Idea:
Los Angeles County plans bring back a Zero-Bail policy for those arrested on misdemeanors and non-violent offenders. Many in the county had concerns that when this policy was originally enacted it would have caused a spike in crime with those individuals let go becoming re-offenders. This no bail policy was first implemented during the COVID-19 pandemic starting on April 13, 2020 due to concerns of spreading COVID-19 in overcrowded jails. This was always planned to be a temporary measure due to the nature of the pandemic and the zero-bail policy ended on July 1, 2020. On October 1, 2023 Los Angeles County Police Departments will go back to the Zero-Bail Policy with no designated end-date.

### Project
I want to observe and analyze the rates of crimes during the enactment of this policy and prior to the policy. 

### Data Sources:

https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8

https://data.lacity.org/Public-Safety/Crime-Data-from-2010-to-2019/63jg-8b9z

https://fred.stlouisfed.org/series/PPAACA06037A156NCEN

https://fred.stlouisfed.org/series/PE5T17CA06037A647NCEN

https://fred.stlouisfed.org/series/CALOSA7URN

https://fred.stlouisfed.org/series/CALOSA7LFN

https://fred.stlouisfed.org/series/LAUCN060370000000005

### References:
    
https://engineering.stanford.edu/magazine/article/can-ai-help-judges-make-bail-system-fairer-and-safer

https://www.wired.com/story/algorithms-supposed-fix-bail-system-they-havent/

https://www.latimes.com/archives/la-xpm-2005-aug-30-me-crime30-story.html

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Function to create a dataframe & dictionary to give 
# us in depth of info of the dataset's 
# datatypes consistency per column
def check_type(df):
    col_type_dict = {}
    # iterate through columns
    for col in list(df.columns.values):
        # create list of types of each cell for column
        type_list = list(map(str,list(df[col].map(type))))
        # find most common type in column
        common = max(set(type_list), key=type_list.count)
        # find total number of that type
        com_num = sum(t == common for t in type_list)
        # list all types found in this column
        all_types = list(set(type_list))
        #compile info into dict
        col_type_dict[col] = (common,com_num,(com_num/len(type_list)),all_types)
    
    # create a pandas dataframe, it's easier to read than a dictionary in my opinion
    temp_df = pd.DataFrame.from_dict(col_type_dict, orient='index',\
                                  columns=['most_common_type','most_common_freq',\
                                           'most_common_%','all_types_found'])
    return temp_df

In [20]:
current_df = pd.read_csv('Crime_Data_from_2020_to_present.csv')
prev_df = pd.read_csv('Crime_Data_from_2010_to_2019.csv')

crime_df = pd.concat([prev_df, current_df])
crime_df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,AREA
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13.0,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,NaN
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14.0,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,NaN
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13.0,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,NaN
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6.0,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,NaN
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1.0,Central,176,1,122,"RAPE, ATTEMPTED",...,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488,NaN

In [21]:
crime_df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON', 'AREA'],
      dtype='object')

In [23]:
# select columns needed to view visualizations
og_crime_df = crime_df.copy()
crime_df = crime_df[['Date Rptd','DATE OCC','TIME OCC','Crm Cd','Vict Age','Vict Sex','Vict Descent','LAT','LON']]

In [132]:
# split between violent crime and property crime
    #based on UCR-COMPSTAT062618.pdf on LAPD crime stats page
violent_crime = [110,113,121,122,815,820,821,210,220,230,231,235,236,250,251,761,926]
simple_assault = [435,436,437,622,623,624,625,626,627,647,763,928,930]
property_crime = [310,320,510,520,433,330,331,410,420,421,350,351,352,353,450,451,452,453,341,\
                  343,345,440,441,442,443,444,445,470,471,472,473,474,475,480,485,487,491]

# Based upon my own exploration, here are some more crimes that are not considered in the LAPD pdf

#vandalism, stolen vehicle(other), telephone damage, car theft (auto repair)
property_crime.extend([740,745,522,924,349,446])

#arson, kidnapping, battery with sexual contact, child neglect, child annoying, human trafficking
violent_crime.extend([648,910,860,237,813,921,812,810,922,822])

#miscellaneous
misc_crime = [946]

#identity theft, violation of court order, Bunco (fraud/swindling), Bomb scare, violation of restraining order,
    #failure to yield, lewd phone calls, disturbing the peace, false police report, document forgery, trespassing,
    #lewd contact, cruelty to animals, embezzlement, discharge firearm, unauthorized computer access, peeping tom,
    #indecent exposure, derauding innkeeper/theft of services,extortion,contempt of court, prowler, counterfeit
misc_crime.extend([900,354,662,664,755,901,890,956,886,439,649,888,762,943,668,753,661,932,850,951,940,903,902,670,\
                  756,933,651,660,434,652,814,653,806,805,438,950,949,654,944,347,666,954,845,760,880,865,882,840,\
                  942,870,830,884,432,948,931,906,952,905,904])

#now create dictionary to facilitate replacement value process
    # V-Violent, S-Simple Assault, P-Property
crime_type = {}
for i in violent_crime:
    crime_type[i] = 'V'
for i in simple_assault:
    crime_type[i] = 'S'
for i in property_crime:
    crime_type[i] = 'P'    
for i in misc_crime:
    crime_type[i] = 'M'

In [133]:
crime_df.replace({"Crm Cd": crime_type},inplace=True)

,Date Rptd,DATE OCC,TIME OCC,Crm Cd,Vict Age,Vict Sex,Vict Descent,LAT,LON
0,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,M,48,M,H,33.9825,-118.2695
1,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,P,0,M,W,33.9599,-118.3962
2,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,M,0,M,H,34.0224,-118.2524
3,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,M,47,F,W,34.1016,-118.3295
4,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,V,47,F,H,34.0387,-118.2488
...,...,...,...,...,...,...,...,...,...
802951,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,P,23,M,H,34.2466,-118.4054
802952,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,V,25,F,H,34.2790,-118.4116
802953,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,V,29,M,B,33.9841,-118.2915
802954,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,P,24,F,H,34.0467,-118.2485
802955,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,P,53,F,H,34.1951,-118.4487