# Bail or No Bail

Author: Erick Orozco

Date: 10/28/2023

## Inspiration:
Los Angeles County plans to bring back a Zero-Bail policy for those arrested on misdemeanors and non-violent offenders. Many in the county had concerns that when this policy was originally enacted it would have caused a spike in crime with those individuals let go becoming re-offenders. This no bail policy was first implemented during the COVID-19 pandemic starting on April 13, 2020 due to concerns of spreading COVID-19 in overcrowded jails. This was always planned to be a temporary measure due to the nature of the pandemic and the zero-bail policy ended on July 1, 2020. On October 1, 2023 Los Angeles County Police Departments will go back to the Zero-Bail Policy with no designated end-date.



### Project (and possible additions)
I want to observe and analyze the rates of crimes during the enactment of this policy and prior to the policy. Obviously the original time window of this no cacs bail policy is very short and during an odd time with several complex factors for fuctuations in crime. I leave this for possible updates in the future. The main focus here is to create a dash board to visualize these crimes. 

### This Notebook
Cleaning, Feature Selection, and general preparation for dashboard.

### Data Sources:

#### Used:
https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8

https://data.lacity.org/Public-Safety/Crime-Data-from-2010-to-2019/63jg-8b9z

##### Potential for Future:

https://fred.stlouisfed.org/series/PPAACA06037A156NCEN

https://fred.stlouisfed.org/series/PE5T17CA06037A647NCEN

https://fred.stlouisfed.org/series/CALOSA7URN

https://fred.stlouisfed.org/series/CALOSA7LFN

https://fred.stlouisfed.org/series/LAUCN060370000000005


### References:
    
https://engineering.stanford.edu/magazine/article/can-ai-help-judges-make-bail-system-fairer-and-safer

https://www.wired.com/story/algorithms-supposed-fix-bail-system-they-havent/

https://www.latimes.com/archives/la-xpm-2005-aug-30-me-crime30-story.html

In [125]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [126]:
# Function to create a dataframe & dictionary to give 
# us in depth of info of the dataset's 
# datatypes consistency per column
def check_type(df):
    col_type_dict = {}
    # iterate through columns
    for col in list(df.columns.values):
        # create list of types of each cell for column
        type_list = list(map(str,list(df[col].map(type))))
        # find most common type in column
        common = max(set(type_list), key=type_list.count)
        # find total number of that type
        com_num = sum(t == common for t in type_list)
        # list all types found in this column
        all_types = list(set(type_list))
        #compile info into dict
        col_type_dict[col] = (common,com_num,(com_num/len(type_list)),all_types)
    
    # create a pandas dataframe, it's easier to read than a dictionary in my opinion
    temp_df = pd.DataFrame.from_dict(col_type_dict, orient='index',\
                                  columns=['most_common_type','most_common_freq',\
                                           'most_common_%','all_types_found'])
    return temp_df

In [127]:
#get all crimes reported available on lapd website and create one larget dataset starting from 2010
current_df = pd.read_csv('Crime_Data_from_2020_to_present.csv')
prev_df = pd.read_csv('Crime_Data_from_2010_to_2019.csv')
crime_df = pd.concat([prev_df, current_df])
crime_df.reset_index(drop=True,inplace=True)
crime_df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,AREA
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13.0,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,NaN
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14.0,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,NaN
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13.0,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,NaN
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6.0,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,NaN
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1.0,Central,176,1,122,"RAPE, ATTEMPTED",...,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488,NaN

In [128]:
# show all columns in datasets, check Datasources section at top of page to find link to find more info on each column
crime_df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON', 'AREA'],
      dtype='object')

In [129]:
# save copy of original dataset
og_crime_df = crime_df.copy()

# select columns 
crime_df = crime_df[['Date Rptd','DATE OCC','TIME OCC','Crm Cd','Vict Age','Vict Sex','Vict Descent','LAT','LON']]

In [130]:
# split between violent crime and property crime
    #based on UCR-COMPSTAT062618.pdf on LAPD crime stats page
violent_crime = [110,113,121,122,815,820,821,210,220,230,231,235,236,250,251,761,926]
simple_assault = [435,436,437,622,623,624,625,626,627,647,763,928,930]
property_crime = [310,320,510,520,433,330,331,410,420,421,350,351,352,353,450,451,452,453,341,\
                  343,345,440,441,442,443,444,445,470,471,472,473,474,475,480,485,487,491]

# Based upon my own exploration, here are some more crimes that are not considered in the LAPD pdf

#vandalism, stolen vehicle(other), telephone damage, car theft (auto repair)
property_crime.extend([740,745,522,924,349,446])

#arson, kidnapping, battery with sexual contact, child neglect, child annoying, human trafficking
violent_crime.extend([648,910,920,860,237,813,921,812,810,922,822])

#miscellaneous
misc_crime = [946]

#identity theft, violation of court order, Bunco (fraud/swindling), Bomb scare, violation of restraining order,
    #failure to yield, lewd phone calls, disturbing the peace, false police report, document forgery, trespassing,
    #lewd contact, cruelty to animals, embezzlement, discharge firearm, unauthorized computer access, peeping tom,
    #indecent exposure, derauding innkeeper/theft of services,extortion,contempt of court, prowler, counterfeit
misc_crime.extend([900,354,662,664,755,901,890,956,886,439,649,888,762,943,668,753,661,932,850,951,940,903,902,670,\
                  756,933,651,660,434,652,814,653,806,805,438,950,949,654,944,347,666,954,845,760,880,865,882,840,\
                  942,870,830,884,432,948,931,906,952,905,904])

#now create dictionary to facilitate replacement value process
    # V-Violent, S-Simple Assault, P-Property
crime_type = {}
for i in violent_crime:
    crime_type[i] = 'V'
for i in simple_assault:
    crime_type[i] = 'S'
for i in property_crime:
    crime_type[i] = 'P'    
for i in misc_crime:
    crime_type[i] = 'M'

In [131]:
# simplify Crime Code column to 4 types of crime: Violent, Simple Assault, Property, & Miscellaneous
crime_df.replace({"Crm Cd": crime_type},inplace=True)

In [132]:
# Format dates
crime_df['Date Rptd'] = crime_df['Date Rptd'].astype('datetime64')
crime_df['DATE OCC'] = crime_df['DATE OCC'].astype('datetime64')

In [133]:
# label reported crime dates where no bail system is enacted = 1
#NOTE: not all crimes receive no bail, this indicator is only to demonstrate the date the policy is enacted,
#      not that this crime received no bail

crime_df['no_bail'] = 0
crime_df['no_bail'].loc[(crime_df['Date Rptd']>='2020-04-13')&(crime_df['Date Rptd']<'2020-07-01')] = 1

c:\users\erick\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [134]:
# some other housekeeping, ensure data is consistent and simplified

# ensure all NaN are 'X', meaning 'Unkown'
crime_df['Vict Sex'].loc[~crime_df['Vict Sex'].isin(['M','F'])]= 'X'

# simplify Victim Descent column, lapd has it as follows:
# Descent Code: A - Other Asian B - Black C - Chinese D - Cambodian F - Filipino G - Guamanian 
#               H - Hispanic/Latin/Mexican I - American Indian/Alaskan Native J - Japanese K - Korean 
#               L - Laotian O - Other P - Pacific Islander S - Samoan U - Hawaiian V - Vietnamese W - White 
#               X - Unknown Z - Asian Indian

# simplify east asian & southeast asian descents into one group
crime_df['Vict Descent'].loc[crime_df['Vict Descent'].isin(['A','C','D','F','J','K','L','V'])] = 'A'

# simplify pacific islanders into one group
crime_df['Vict Descent'].loc[crime_df['Vict Descent'].isin(['G','P','S','U'])] = 'P'

# make sure to list all unkowns into 'X'
# NOTE: 'O' for other is considered unkown due to no details of descent
crime_df['Vict Descent'].loc[~crime_df['Vict Descent'].isin(['H','W','B','A','I','P','Z'])] = 'X'

In [157]:
# create new dataset to visualzie per day accounts of violence
enc = OneHotEncoder(sparse=False)

# pd = per day
crime_pd_df = crime_df.copy()


#One Hot Encode all categorical variables to add up per day later 

crime_pd_df[['M Crm','P Crm','S Crm','V Crm']] = enc.fit_transform(crime_pd_df[['Crm Cd']])

crime_pd_df[['Female','Male','Unkown Sex']] = enc.fit_transform(crime_pd_df[['Vict Sex']])

crime_pd_df[['Asian', 'Black', 'Latino', 'Indigenous', 'Pacific Islander', 'White', 'Unknown Desc', 'South Asian']] \
            = enc.fit_transform(crime_pd_df[['Vict Descent']])

#bin victi, ages
crime_pd_df['Vict Age'] = pd.cut(crime_pd_df['Vict Age'], [-1000,-1,11,15,19,24,34,49,64,200],\
                                 labels=['Uknown Age','0-11','12-15','16-19','20-24','24-34','35-49','50-64','65+'])

crime_pd_df[['Unkown Age','0-11', '12-15', '16-19', '20-24', '24-34', '35-49', '50-64','65+']] =\
            enc.fit_transform(crime_pd_df[['Vict Age']])

#only categorical data
crime_pd_df = crime_pd_df[['Date Rptd', 'no_bail', 'M Crm', 'P Crm','S Crm','V Crm', 'Female','Male',\
                           'Unkown Sex', 'Asian', 'Black', 'Latino','Indigenous','Pacific Islander', \
                           'White', 'Unknown Desc','South Asian', 'Unkown Age', '0-11', '12-15','16-19',\
                           '20-24', '24-34','35-49', '50-64', '65+']]

# sum per day
crime_pd_df = crime_pd_df.groupby(['Date Rptd']).sum().reset_index(drop=True)

# sum of crimes 
crime_pd_df['Total Crime'] = crime_pd_df[['M Crm','P Crm','S Crm','V Crm']].sum(axis=1)

# adjust no bail column back to binary 
crime_pd_df['no_bail'].loc[crime_pd_df['no_bail']!=0] = 1

c:\users\erick\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [158]:
# write dataset to file

crime_df.to_csv('LA_County_Crime.csv')
crime_df.to_csv('LA_County_PerDay_Crime.csv')

In [161]:
list(crime_df['LAT'].unique())

[33.9825,
 33.9599,
 34.0224,
 34.1016,
 34.0387,
 34.048,
 34.0389,
 34.0435,
 34.045,
 34.0538,
 34.064,
 34.035,
 34.0409,
 34.0502,
 34.0515,
 34.0401,
 34.0428,
 34.0545,
 34.0563,
 34.0454,
 34.0472,
 34.0382,
 34.0423,
 34.046,
 34.0461,
 34.0437,
 34.0357,
 34.0394,
 34.0446,
 34.0439,
 34.0415,
 34.0559,
 34.0426,
 34.0544,
 34.0449,
 34.0481,
 34.0453,
 34.0431,
 34.0617,
 34.0445,
 34.0524,
 34.0459,
 34.0384,
 34.0485,
 34.0503,
 34.0535,
 34.0695,
 34.0416,
 34.053000000000004,
 34.0499,
 34.0452,
 34.0407,
 34.0442,
 34.0451,
 34.0424,
 34.0482,
 34.0371,
 34.0627,
 34.0635,
 34.0917,
 34.0317,
 34.0516,
 34.032,
 34.0717,
 34.0475,
 34.0474,
 34.0496,
 34.0373,
 34.0644,
 34.0537,
 34.0672,
 34.0494,
 34.0673,
 34.0467,
 34.0649,
 34.0619,
 34.0364,
 34.0522,
 34.0582,
 34.0488,
 34.0346,
 34.0656,
 34.042,
 34.0486,
 34.0411,
 34.051,
 34.054,
 34.0377,
 34.0721,
 34.0398,
 34.0308,
 34.0495,
 34.0489,
 34.0419,
 34.0333,
 34.0388,
 34.0462,
 34.0615,
 34.1779,
 34.0571,
 34.0478,
 34.0473,
 34.049,
 34.0598,
 34.0668,
 34.0652,
 34.0444,
 34.0532,
 34.0378,
 34.0455,
 34.0549,
 34.0404,
 34.0412,
 34.0566,
 34.0354,
 34.0379,
 34.037,
 34.0359,
 34.0353,
 34.071,
 34.0458,
 34.0626,
 34.0372,
 34.034,
 34.0487,
 34.0639,
 34.043,
 34.0457,
 34.065,
 34.0342,
 34.0383,
 34.0589,
 34.0583,
 34.0363,
 34.0331,
 34.0413,
 34.0438,
 34.0655,
 34.0395,
 34.0347,
 34.0408,
 34.0376,
 34.0369,
 34.0588,
 34.0375,
 34.039,
 34.0623,
 34.0368,
 34.0403,
 34.0484,
 34.0509,
 34.0365,
 34.0209,
 34.0594,
 34.0581,
 34.0633,
 34.0713,
 34.0591,
 34.0463,
 34.0677,
 34.0607,
 34.0505,
 34.0606,
 34.0433,
 34.0448,
 34.0396,
 34.0504,
 34.0479,
 34.038000000000004,
 34.0661,
 34.0464,
 34.0554,
 34.0547,
 34.0477,
 34.0555,
 34.0551,
 34.0402,
 34.0527,
 34.0493,
 34.0578,
 34.0312,
 34.0637,
 34.0336,
 34.0573,
 34.0311,
 34.0558,
 34.0584,
 34.0343,
 34.0671,
 34.0586,
 34.0604,
 34.06,
 34.0417,
 34.0601,
 34.0405,
 34.0641,
 34.0501,
 34.0648,
 34.0552,
 34.0643,
 34.0724,
 34.0708,
 34.0613,
 34.0663,
 34.0534,
 34.0564,
 34.0674,
 34.0471,
 34.0669,
 34.0577,
 34.0355,
 34.0109,
 34.071999999999996,
 34.0421,
 34.0529,
 34.0683,
 34.0533,
 34.0599,
 34.0492,
 34.056999999999995,
 34.0349,
 34.0517,
 34.0491,
 34.0326,
 34.0335,
 34.0381,
 34.0553,
 34.0632,
 34.0151,
 34.0386,
 34.0391,
 34.055,
 34.0324,
 34.047,
 34.0469,
 34.0587,
 34.0523,
 34.0392,
 34.0557,
 34.0374,
 34.0341,
 34.0348,
 33.7717,
 34.0352,
 34.033,
 34.0434,
 34.0725,
 34.0393,
 34.0565,
 34.0595,
 34.0414,
 34.0344,
 34.0585,
 33.8959,
 34.0693,
 34.0628,
 34.0525,
 34.0418,
 34.0685,
 34.0574,
 34.0506,
 34.0385,
 34.0712,
 33.943000000000005,
 34.0541,
 34.01,
 34.0498,
 34.0332,
 34.0611,
 34.0483,
 34.0666,
 34.0696,
 34.0159,
 34.0642,
 34.0853,
 34.3767,
 34.0327,
 34.0659,
 34.0646,
 34.0602,
 34.059,
 34.0366,
 34.0337,
 34.041,
 34.0688,
 34.0321,
 34.0511,
 34.0689,
 34.0528,
 34.0734,
 34.0466,
 34.0569,
 34.0476,
 34.0456,
 34.0697,
 34.0877,
 34.0361,
 34.0698,
 34.0443,
 34.0686,
 34.0752,
 34.0531,
 33.998000000000005,
 34.2468,
 34.0658,
 34.0743,
 34.0174,
 34.031,
 34.0736,
 34.001999999999995,
 33.9247,
 34.0329,
 34.0367,
 34.0763,
 34.0792,
 34.036,
 34.0572,
 34.0703,
 33.8627,
 34.0682,
 34.0468,
 34.0351,
 34.0562,
 34.0777,
 34.067,
 34.0667,
 34.05,
 34.0328,
 34.0653,
 34.0358,
 34.0618,
 34.0356,
 33.7735,
 33.773,
 34.0243,
 34.0744,
 34.0306,
 34.0593,
 34.0345,
 34.0319,
 34.0543,
 34.3775,
 34.0645,
 34.0259,
 34.0201,
 34.0083,
 34.0338,
 34.0609,
 34.0207,
 34.0836,
 34.0143,
 34.0705,
 34.0622,
 34.0605,
 34.0323,
 34.0073,
 34.0334,
 34.058,
 34.0692,
 33.861999999999995,
 33.9689,
 34.0561,
 34.0296,
 34.0301,
 33.7827,
 34.0136,
 34.1638,
 34.0539,
 34.0436,
 34.0612,
 34.0863,
 33.9928,
 33.7928,
 34.0821,
 34.0746,
 34.0684,
 34.063,
 34.0592,
 34.079,
 34.0867,
 34.0884,
 34.0508,
 34.0732,
 34.061,
 34.0781,
 34.0596,
 34.0858,
 34.0909,
 34.0567,
 34.0762,
 34.0835,
 34.0772,
 34.0838,
 34.0546,
 34.0399,
 34.0406,
 34.0707,
 34.0714,
 34.0738,
 34.0779,
 34.0597,
 34.0699,
 34.0657,
 34.0726,
 34.0812,
 34.0576,
 34.0768,
 34.0616,
 34.0647,
 34.062,
 34.0197,
 34.0764,
 34.0856,
 34.0891,
 34.0737,
 33.7772,
 34.0846,
 34.0887,
 34.0791,
 34.0742,
 34.0512,
 34.0727,
 34.0925,
 34.0729,
 34.0869,
 34.0723,
 34.0797,
 34.0636,
 34.0679,
 34.0542,
 34.0904,
 34.0624,
 34.0818,
 34.0854,
 34.0568,
 34.074,
 34.073,
 34.0802,
 34.0758,
 34.0767,
 34.0441,
 34.0873,
 34.0465,
 34.0701,
 34.0794,
 34.0629,
 34.0716,
 34.0888,
 34.0625,
 34.0815,
 34.0811,
 34.0521,
 34.0849,
 34.0745,
 34.0548,
 34.0711,
 34.0813,
 34.0709,
 34.0621,
 34.0514,
 34.0757,
 34.0634,
 34.0579,
 34.0687,
 34.0735,
 34.068000000000005,
 34.0665,
 34.0614,
 34.0753,
 34.0719,
 34.091,
 34.0518,
 33.8355,
 34.0786,
 34.0823,
 34.0651,
 34.0847,
 34.0872,
 34.0519,
 34.0886,
 34.066,
 34.0664,
 34.0678,
 34.0788,
 34.0902,
 34.0798,
 34.0773,
 34.0878,
 34.0897,
 34.0841,
 34.0793,
 34.0754,
 34.044000000000004,
 34.0507,
 34.0861,
 34.0829,
 34.0883,
 34.0776,
 34.0741,
 34.076,
 34.0748,
 34.0691,
 34.0784,
 34.0881,
 34.0825,
 34.0771,
 34.0447,
 34.0804,
 34.0756,
 34.0844,
 34.0759,
 34.0429,
 34.08,
 34.0694,
 33.785,
 34.0896,
 34.0046,
 34.0824,
 34.0638,
 34.0822,
 34.0722,
 34.0061,
 34.0865,
 34.0895,
 34.0156,
 34.0855,
 33.8419,
 34.052,
 34.0681,
 34.0866,
 34.0769,
 34.088,
 34.0857,
 34.0799,
 34.0778,
 34.0747,
 34.0875,
 34.0702,
 34.0833,
 34.0795,
 34.0894,
 34.0755,
 34.0704,
 34.0892,
 34.0526,
 34.0885,
 34.0805,
 34.0121,
 34.0739,
 34.0706,
 34.078,
 33.7873,
 34.056,
 34.0908,
 34.0497,
 34.0654,
 34.0876,
 33.7257,
 34.0839,
 34.0819,
 34.0731,
 34.077,
 34.0789,
 34.0898,
 33.9628,
 33.7425,
 34.0173,
 34.0826,
 34.0662,
 34.0806,
 34.0816,
 34.0893,
 34.0733,
 34.0751,
 34.082,
 33.7876,
 34.0269,
 34.0852,
 34.0749,
 34.0859,
 34.0782,
 34.0728,
 34.0862,
 33.7178,
 34.0903,
 34.0944,
 33.7869,
 33.8214,
 34.0775,
 34.0715,
 33.7766,
 34.0796,
 33.7433,
 33.7895,
 34.0037,
 34.0183,
 33.8374,
 33.7397,
 33.782,
 34.0843,
 34.0676,
 34.0765,
 34.0774,
 34.0832,
 34.2855,
 33.781,
 33.7379,
 33.7469,
 34.0924,
 33.75,
 34.1289,
 34.2871,
 34.0851,
 33.7476,
 33.7424,
 33.7415,
 33.7909,
 33.801,
 34.075,
 34.0926,
 34.0956,
 34.0675,
 33.7935,
 33.7351,
 34.0817,
 33.7793,
 33.7288,
 34.0718,
 33.7824,
 33.9791,
 33.7187,
 33.7789,
 33.7934,
 33.7493,
 34.0256,
 33.7279,
 34.0905,
 34.104,
 34.0054,
 34.0807,
 34.0261,
 34.0056,
 34.0161,
 33.9635,
 34.0199,
 34.0325,
 34.0231,
 34.0203,
 34.0291,
 34.0246,
 34.0265,
 34.029,
 34.0216,
 34.0237,
 33.9963,
 34.0187,
 34.0276,
 34.014,
 34.0274,
 34.023,
 34.0146,
 34.0055,
 34.0255,
 34.0213,
 34.0184,
 34.021,
 34.0282,
 34.0208,
 34.0163,
 34.0175,
 34.0001,
 34.0111,
 34.0295,
 34.0247,
 33.9988,
 34.0124,
 34.0145,
 34.0085,
 34.010999999999996,
 34.02,
 34.0137,
 34.0155,
 34.0242,
 34.0272,
 34.0102,
 34.0091,
 34.0309,
 34.0195,
 34.0297,
 34.0133,
 34.0204,
 34.0031,
 34.0,
 34.0071,
 33.995,
 34.0072,
 34.0248,
 34.0088,
 34.0078,
 34.0074,
 34.015,
 34.0219,
 34.0293,
 34.0263,
 34.0115,
 34.0128,
 34.0299,
 34.0082,
 34.0168,
 34.0129,
 34.0108,
 34.0188,
 34.0305,
 34.0223,
 34.0232,
 34.027,
 34.0027,
 34.0294,
 34.0278,
 34.0287,
 34.0254,
 34.0303,
 34.0228,
 34.0288,
 34.0092,
 34.0281,
 34.0235,
 34.0106,
 34.0149,
 34.0132,
 34.0262,
 34.0266,
 34.0298,
 34.0215,
 34.0105,
 34.0153,
 34.0178,
 34.016,
 34.0185,
 34.0214,
 34.0148,
 34.0264,
 34.0009,
 34.0127,
 34.0162,
 34.0283,
 34.0172,
 34.0234,
 34.0019,
 34.006,
 34.0284,
 34.0182,
 34.028,
 34.016999999999996,
 33.9991,
 34.0279,
 34.0065,
 34.0191,
 34.0142,
 34.0181,
 34.03,
 34.0038,
 34.0116,
 34.0064,
 34.0164,
 34.0096,
 34.0119,
 33.9983,
 34.0141,
 34.0194,
 34.0099,
 34.0067,
 34.0258,
 34.0206,
 34.0101,
 34.0177,
 34.0211,
 34.0212,
 33.7974,
 34.705999999999996,
 34.0339,
 34.0176,
 34.0268,
 34.0273,
 34.0165,
 34.0316,
 33.7442,
 34.0241,
 34.009,
 34.0275,
 34.0028,
 34.0238,
 34.0049,
 34.001,
 34.0023,
 34.0107,
 34.0221,
 33.9957,
 34.0198,
 34.0147,
 34.0285,
 34.0239,
 34.0236,
 34.0229,
 34.0244,
 34.0289,
 33.9985,
 34.0179,
 33.9976,
 34.0052,
 33.9964,
 34.0018,
 34.0837,
 34.0226,
 34.0225,
 34.0196,
 34.0044,
 34.0042,
 34.0059,
 33.9993,
 34.0315,
 34.008,
 34.0144,
 33.7887,
 34.0425,
 34.0103,
 34.0154,
 34.0043,
 33.9978,
 34.0098,
 34.0053,
 33.8392,
 34.0267,
 34.025999999999996,
 34.0286,
 33.795,
 34.019,
 34.0251,
 34.0125,
 34.0277,
 34.0245,
 34.0035,
 33.7943,
 34.0097,
 34.0117,
 33.8202,
 34.007,
 33.7782,
 34.0138,
 34.0169,
 34.0249,
 34.0093,
 34.0217,
 34.0036,
 34.0039,
 34.0292,
 34.0189,
 34.0051,
 33.9971,
 34.0233,
 34.0271,
 34.022,
 34.0313,
 34.0062,
 34.0252,
 34.024,
 34.0192,
 34.0112,
 34.0087,
 34.0304,
 34.0202,
 34.0094,
 34.0222,
 34.0025,
 34.005,
 34.0158,
 33.9981,
 33.9932,
 34.0068,
 34.0205,
 34.0095,
 34.0123,
 34.0063,
 33.746,
 34.0218,
 34.0302,
 33.9986,
 34.0171,
 34.0076,
 34.0307,
 34.0135,
 34.0021,
 34.0193,
 34.0014,
 34.0126,
 34.0081,
 34.0058,
 34.0029,
 33.7752,
 33.9975,
 33.777,
 33.9987,
 33.7115,
 34.0318,
 33.7324,
 34.0079,
 33.7831,
 33.8948,
 33.7888,
 34.0045,
 33.9872,
 34.0314,
 33.8213,
 33.9982,
 34.0077,
 34.0084,
 34.0075,
 34.0016,
 33.7912,
 33.7755,
 34.0253,
 33.7924,
 34.0322,
 33.7881,
 34.025,
 33.9953,
 33.7968,
 33.779,
 33.893,
 33.9295,
 34.1857,
 33.9984,
 34.0167,
 34.04,
 34.0166,
 33.9893,
 34.0227,
 33.9989,
 34.0032,
 33.9289,
 33.9651,
 33.9063,
 33.9604,
 34.2975,
 33.9961,
 33.9891,
 34.0761,
 34.1449,
 33.9847,
 34.1504,
 34.1792,
 33.9438,
 33.9747,
 33.9673,
 33.9292,
 33.994,
 33.7497,
 34.3072,
 34.1722,
 34.0104,
 33.9974,
 34.2399,
 34.0186,
 34.0427,
 34.2152,
 33.9814,
 34.0066,
 34.089,
 34.096,
 34.0945,
 34.1083,
 34.0803,
 34.0941,
 34.0257,
 34.0808,
 34.0943,
 34.0953,
 34.080999999999996,
 34.0787,
 34.0906,
 34.0907,
 34.1035,
 34.069,
 34.3028,
 34.1008,
 34.0911,
 34.1045,
 34.1588,
 34.0871,
 34.0868,
 33.9455,
 34.0942,
 34.1905,
 34.0397,
 33.9237,
 34.0766,
 34.0432,
 34.0901,
 34.098,
 34.018,
 ...]